<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Config RFID Scanner</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Config RFID Scanner</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header d-md-flex justify-content-between align-items-center">
        <h6 class="mb-0">List RFID Scanner</h6>
        <button class="btn btn-sm btn-primary">Add RFID Scanner</button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>RFID Scanner ID</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>tes</td>
                    <td>tes</td>
                </tr>
                <tr>
                    <td>tes</td>
                    <td>tes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>