<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Check In</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Check In</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formCheckIn">
    <h6 class="card-header">Form Check In</h6>
    <div class="card-body">
        <div class="row row-xs">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="">Passanger ID</label>
                    <select class="form-control" formControlName="passengerId">
                        <option value="">Select Passanger ID</option>
                        <option *ngFor="let passangerId of passangerIds" [value]="passangerId">
                            {{ passangerId }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="showNextForm">
            <div class="row row-xs">
                <div class="col-lg">
                    <div class="form-group">
                        <label for="">Airport</label>
                        <input type="text" class="form-control" formControlName="airport">
                    </div>
                </div>
                <div class="col-lg">
                    <div class="form-group">
                        <label for="">Location</label>
                        <input type="text" class="form-control" formControlName="location">
                    </div>
                </div>
            </div>
            <h6 class="tx-gray-500">List Baggages</h6>
            <div formArrayName="baggages">
                <div class="row row-xs"
                    *ngFor="let baggage of formCheckIn['controls'].baggages['controls']; let baggageIndex = index;"
                    [formGroupName]="baggageIndex">
                    <div class="col-lg">
                        <div class="form-group">
                            <label for="">Baggage ID</label>
                            <input type="text" class="form-control" formControlName="baggageId">
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group">
                            <label for="">Baggage Tracking ID</label>
                            <input type="text" class="form-control" formControlName="baggageTrackingId">
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group">
                            <label for="">Weight</label>
                            <input type="number" class="form-control" formControlName="weight">
                        </div>
                    </div>
                    <div class="col-lg-3 pd-lg-t-30 pd-t-0 tx-right">
                        <button class="btn btn-primary" (click)="generateCode(baggageIndex, $event)">
                            Generate Code
                        </button>
                        <button class="btn btn-danger" (click)="removeBaggage(baggageIndex, $event)">
                            Remove List
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-grop tx-right">
                <button class="btn btn-primary" (click)="addBaggage()">Add Baggage</button>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right" *ngIf="showNextForm">
        <button class="btn btn-primary" [disabled]="!formCheckIn.valid" (click)="submit()">Submit</button>
    </div>
</form>