<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Check In</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Check In</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formCheckIn">
    <h6 class="card-header">Form Check In</h6>
    <div class="card-body">
        <div class="form-group">
            <label for="">Passanger ID</label>
            <div class="row row-xs">
                <div class="col">
                    <input type="text" class="form-control" formControlName="passengerId">
                </div>
                <div class="col-md-3 mg-md-t-0 mg-t-10 tx-right">
                    <button class="btn btn-primary wd-md-100p wd-auto"
                        [disabled]="!formCheckIn.get('passengerId').valid" (click)="checkPassanger()">
                        Check Passanger
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="showNextForm">
            <div class="form-group">
                <label for="">Airport</label>
                <input type="text" class="form-control" formControlName="airport">
            </div>
            <div class="form-group">
                <label for="">Location</label>
                <input type="text" class="form-control" formControlName="location">
            </div>
            <div class="form-group">
                <label for="">Weight</label>
                <input type="text" class="form-control" formControlName="weight">
            </div>
            <div class="form-group">
                <label for="">Baggage ID</label>
                <input type="text" class="form-control" formControlName="baggageId">
            </div>
            <div class="form-group">
                <label for="">Baggage Tracking ID</label>
                <input type="text" class="form-control" formControlName="baggageTrackingId">
            </div>
            <div class="form-group">
                <label for="">Tracking Device ID</label>
                <input type="text" class="form-control" formControlName="trackingDeviceId">
            </div>
        </div>
    </div>
    <div class="card-footer tx-right" *ngIf="showNextForm">
        <button class="btn btn-primary" [disabled]="!formCheckIn.valid" (click)="submit()">Submit</button>
    </div>
</form>