<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Check In</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Check In</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formCheckIn">
    <div class="card-body">
        <div class="row row-xs">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="">Passanger ID</label>
                    <select class="form-control" formControlName="passengerId">
                        <option value="">Select Passanger ID</option>
                        <option *ngFor="let passangerId of passangerIds" [value]="passangerId">
                            {{ passangerId }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="showNextForm">
            <div class="row row-xs">
                <div class="col-lg">
                    <div class="form-group">
                        <label for="">Airport</label>
                        <input type="text" class="form-control" formControlName="airport">
                    </div>
                </div>
                <div class="col-lg">
                    <div class="form-group">
                        <label for="">Location</label>
                        <input type="text" class="form-control" formControlName="location">
                    </div>
                </div>
            </div>
            <div class="mg-t-10" *ngIf="lastPassengerBaggages.length">
                <div class="divider-text">Passenger Baggages</div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Baggage ID</th>
                                <th>Baggage Tracking ID</th>
                                <th>Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lastPassengerBaggage of lastPassengerBaggages">
                                <td>{{ lastPassengerBaggage.baggageId }}</td>
                                <td>{{ lastPassengerBaggage.baggageTrackingId }}</td>
                                <td>{{ lastPassengerBaggage.weight }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mg-t-10">
                <div class="divider-text">Add Baggages</div>
                <div formArrayName="baggages">
                    <div class="row row-xs"
                        *ngFor="let baggage of formCheckIn['controls'].baggages['controls']; let baggageIndex = index;"
                        [formGroupName]="baggageIndex">
                        <div class="col-lg row row-xs">
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="">Baggage ID</label>
                                    <input type="text" class="form-control" formControlName="baggageId"
                                        (keyup.enter)="generateCode(baggageIndex, $event)">
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="">Baggage Tracking ID</label>
                                    <input type="text" class="form-control" formControlName="baggageTrackingId">
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group">
                                    <label for="">Weight</label>
                                    <input type="number" class="form-control" formControlName="weight">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto pd-lg-t-30 pd-t-0 tx-right">
                            <button type="button" class="btn btn-danger" (click)="removeBaggage(baggageIndex, $event)">
                                Remove List
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-grop tx-right">
                    <button type="button" class="btn btn-primary" (click)="addBaggage()">Add Baggage</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right" *ngIf="showNextForm">
        <button type="button" class="btn btn-primary" [disabled]="!formCheckIn.valid" (click)="submit()">Submit</button>
    </div>
</form>