<div class="ht-100v d-flex flex-column justify-content-center align-items-center" style=" background-color: #f3f3f3;">
    <div class="card">
        <div class="card-body">
            <img src="assets/img/logo.png">

            <aw-wizard navBarLocation="">
                <aw-wizard-step>
                    <div class="form-group">
                        <label class="tx-gray-500">Role</label>
                        <select class="form-control" [(ngModel)]="selectedRole">
                            <option value="" disabled>Select Role</option>
                            <option *ngFor="let role of roles" [value]="role.value">{{ role.label }}</option>
                        </select>
                    </div>
                    <div class="tx-center">
                        <button type="button" class="btn btn-primary" [disabled]="!selectedRole" (click)="roleChange()">
                            Next
                        </button>
                    </div>
                </aw-wizard-step>
                <aw-wizard-step>
                    <div class="form-group">
                        <label class="tx-gray-500">Airline</label>
                        <select class="form-control" [(ngModel)]="selectedAirline">
                            <option [ngValue]="null" disabled>Select Airline</option>
                            <option *ngFor="let airline of airlines" [ngValue]="airline">{{ airline.name }}</option>
                        </select>
                    </div>
                    <div class="tx-center">
                        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
                        <button type="button" class="btn btn-primary ml-1" [disabled]="!selectedAirline" awNextStep
                            (click)="airlinesChange()">Next</button>
                    </div>
                </aw-wizard-step>
            </aw-wizard>
        </div>
    </div>
</div>