<aside class="aside aside-fixed">
    <div class="aside-header">
        <a href="" class="aside-logo tr-logo"><img src="assets/img/logo.png"></a>
        <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div class="aside-body" app-nav></div>
</aside>

<div class="content ht-100v pd-0">
    <div class="content-header justify-content-end" app-header></div>

    <div class="content-body">
        <div class="container pd-x-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>