<aside class="aside aside-fixed">
    <div class="aside-header">
        <a href="" class="aside-logo tr-logo"><img src="assets/img/logo.png"></a>
        <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div class="aside-body" app-nav></div>
</aside>

<div class="content ht-100v pd-0">
    <div class="content-header justify-content-end" app-header></div>

    <div class="content-body">
        <div class="container pd-x-0">
            <div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                <h4 class="mg-b-0 tx-spacing--1">Tracking</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page">Tracking</li>
                    </ol>
                </nav>
            </div>

            testing
        </div>
    </div>
</div>