/* aside 280px */
.aside {
    width: 280px;
}

@media (max-width: 280px) {
    .aside {
        width: 100%;
    }
}

.aside.maximize .aside-body {
    width: 280px;
}

@media (min-width: 1200px) {
    .aside-fixed+.content {
        margin-left: 280px;
    }
}